[Unit]
Description=Funda Scraper Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Funda-Scrapper
ExecStart=/home/ubuntu/Funda-Scrapper/venv/bin/python main.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
